.service2 {
  height: 100svh;
  position: relative;
}
.background {
  position: relative;
  max-width: 100%;
  height: 100%;
}
.stickyContainer {
  position: absolute;
  top: 0;
  left: 30px;
  height: 100%;
}
.sticky {
  position: sticky;
  top: 30px;
}
.sticky span {
  font-family: "DM Sans";
  font-size: 16px;
  font-weight: 700;
}
.stackContainer {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  overflow-x: hidden;
}
.titleContainer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(22, 1fr);
  padding: 0 30px;
}
.title {
  grid-column: 3 / 22;
  display: flex;
  padding-left: 32px;
}
.titleText {
}
.titleText span {
  font-family: "IBM Plex Sans KR";
  font-weight: 400;
  word-break: keep-all;
  font-size: max(40px, 4.5vw);
  line-height: 1.2;
  color: var(--white-color);
}
.sign {
  padding: 0 10px;
}
.stack {
  width: 100%;
  position: fixed;
  left: 60%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.card1 {
  display: flex;
  background-image: url("https://res.cloudinary.com/hoyahoya/image/upload/v1750241416/leehyun/kyle-hinkson-xyXcGADvAwE-unsplash_1_-min_fvqcby.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.card2 {
  display: flex;
  background-image: url("https://res.cloudinary.com/hoyahoya/image/upload/v1750241743/leehyun/eugene-golovesov-w76PcRH0fp8-unsplash_jdll8z.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.card3 {
  display: flex;
  background-image: url("https://res.cloudinary.com/hoyahoya/image/upload/v1750419717/leehyun/vishnu-r-nair-m1WZS5ye404-unsplash_uilfrk.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.cardP {
  font-family: "DM Sans";
  font-size: max(40px, 4.5vw);
  line-height: 1.2;
  color: var(--white-color);
  font-weight: 400;
  padding: 12px;
}
.window {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(20px);
  background: linear-gradient(
    0deg,
    rgba(23, 23, 23, 0.46) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.windowMain {
  width: 75%;
  height: 80%;
  background-color: var(--white-color);
  position: relative;
  padding: 48px 0 0 0;
  cursor: default;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.close {
  position: absolute;
  top: 24px;
  right: 24px;
  transform: translate(50%, -50%);
  cursor: pointer;
}
.windowContent {
  display: grid;
  grid-template-columns: repeat(23, 1fr);
  flex: 1;
  overflow-y: auto;
  position: relative;
  height: 100%;
}
.windowImage {
  width: 100%;
  grid-column: 3 / 11;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.imageContainer {
  position: sticky;
  top: 0;
}
.windowImage img {
  width: 100%;
  object-fit: cover;
}
.windowText {
  grid-column: 13 / 24;
  height: 100%;
  word-break: keep-all;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-right: calc(80vw / 23);
}
.windowText p {
  font-family: "DM Sans";
  font-size: 32px;
  line-height: 1.2;
  color: var(--black-color);
}
.windowText span {
  font-family: "IBM Plex Sans KR";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.35;
  color: var(--black-color);
  padding-bottom: 16px;
}
@media (max-width: 768px) {
  .service2 {
    padding: 0 16px;
  }
  .background {
    display: flex;
    flex-direction: column;
  }
  .stickyContainer {
    position: relative;
    flex: 1;
    margin-bottom: 32px;
    order: 0;
    left: 0;
  }
  .sticky {
    position: relative;
    top: 0;
  }
  .titleContainer {
    display: flex;
    padding: 0;
  }
  .title {
    padding-left: 0;
  }
  .stack {
    left: 45%;
    transform: translate(-50%, -50%);
  }
  .cardP {
    font-size: 64px;
  }
  .windowMain {
    width: 90%;
    height: 70%;
  }
  .windowContent {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 0 16px 0;
  }
  .windowImage {
    width: 75%;
    margin: 0 auto;
  }
}
